<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Some website</title>
</head>

<body>
    {{> header}}
        <h4>List of projects</h4>
        <ul>
            <li>https://hello101.herokuapp.com/  (my first Node server)</li>
        </ul>
    {{> footer}}
</body>

</html>